## IBM Certification GIT Exercise

This is Jupyter notebook is to carry out my final assignment for the Jupyter & Git section of the IBM data science certification.

There are two main programming languages for data science, namely;
* Python
* R
* Java
* SQL

There are various libraries for the various tasks involved in data science, below I have listed one Python library per task.

### Data Cleaning
* Pandas
* NumPy

### Data Vizualization
* Plotly
* Seaborn

### Data modelling
* TensorFlow
* PyTorch
* Keras

There are various tools which can be used to develop data science solutions, I have listed a few tools.

In [1]:

# Import pandas library
import pandas as pd

# initialize list elements
data = ['RStudio', 'VS Code', 'Jupyter Notebook', 'JupyterLite']

# Create the pandas DataFrame with column name is provided explicitly
df = pd.DataFrame(data, columns=['Data science tools'])
  
# print dataframe.
df

  Data science tools
0            RStudio
1            VS Code
2   Jupyter Notebook
3        JupyterLite

Below are example arithmetic expressions that can be used.
* a + b
* a / b
* (a + b)/c
* a ^ b
* a * b

In [2]:
# Addition in Python
2 + 2

4

In [3]:
# Addition in Python
2 * 2

4

In [7]:
#Convert minutes to hours

minute=200
hours = minute/60
hours

3.3333333333333335

### Objectives
* Add markdown title
* Add makdown intoduction
* List data science tools
* list data science programming languages
* List arithmetic examples
* Give Examples for addition and multiplication
* Convert minutes to hours.

### Author
C. Brian Onuoha